body {
  margin: 0;
  width: 100%;
  height: 100%;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: rgb(192 192 192);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(106 106 106);
  border: 2px solid rgb(192 192 192);
  border-radius: 20px;
}

.top {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: black solid 2px;
  margin-bottom: 20px;
  height: 8vh;
  width: 80vw;
  margin-left: 10vw;
}

.top h1 {
  margin: 0;
}

.newBP-form {
  width: 80vw;
  margin-left: 10vw;
}

.newBP-form input[name="nombp"],
.newBP-form textarea {
  margin-bottom: 25px;
  height: 40px;
  border-radius: 5px;
  outline: 0;
  outline-style: none;
  border: 2px solid #575757;
  background-color: #0f0f0fe3;
  padding: 0 0 0 10px;
  font-size: 14px;
  width: 20vw;
  color: white;
  transition: 0.3s;
}

.newBP-form input[name="nombp"] {
  margin-bottom: 15px;
}

.newBP-form input[name="nombp"]:focus,
.newBP-form textarea:focus {
  border: 2px solid #1f1f1f;
  background-color: #313131e3;
}

.switch-case {
  height: 0;
  width: 0;
  margin: 0;
  visibility: hidden;
  position: fixed;
}

.switch {
  float: right;
  cursor: default;
  font-size: 20px;
  font-family: "Roboto";
  text-indent: -350px;
  display: flex;
  width: 83px;
  height: 40px;
  background: rgb(81, 81, 81);
  border-radius: 100px;
  position: relative;
  align-items: center;
}

.switch:after {
  cursor: pointer;
  content: "";
  position: absolute;
  top: 2.5px;
  left: 2.5px;
  width: 35px;
  height: 35px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + .switch {
  background: #529a22;
}

input:checked + .switch:after {
  left: calc(100% - 2.5px);
  transform: translateX(-100%);
}

.switch:active:after {
  width: 50px;
}

.newBP-form textarea {
  width: calc(80vw - 20px - 4px); /* 20px padding + 2+2px border*/
  height: 27vh;
  padding: 10px;
  font-family: sans-serif;
  resize: none;
}

/**/
.select-filtre {
  background: #a2a2a2;
  border-radius: 15px;
}

.divProg,
.divPhase,
.divMotClef {
  height: calc(13vh + 20px);
  background-color: grey;
  border-radius: 15px;
  margin: 0;
}

.divPhase,
.divMotClef {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.select-filtre h2 {
  margin: 0;
  font-family: "Roboto";
  color: white;
  font-size: 150%;
  height: 3vh;
  width: fit-content;
  padding: 5px;
  margin-left: 10px;
}

select {
  float: right;
  border-radius: 100px;
  border: none;
  background-color: #9fccff;
  color: #003e74;
  width: 10vw;
  height: 3vh;
  padding: 5px;
  margin: 5px 5px 5px 0;
}

select:hover {
  cursor: pointer;
}

#selectPhase {
  float: none;
  display: block;
  margin-bottom: 20px;
}

.selected-itemsDiv {
  background-color: #a2a2a2;
  height: 10vh;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 10px 10px 0 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-start;
  align-items: center;
  justify-content: center;
  overflow-y: overlay;
}

.object {
  width: fit-content;
  background-color: #9fccff;
  border-radius: 50px;
  border: 0.5px solid;
  padding: 5px;
  color: #003e74;
  font-family: sans-serif;
  cursor: default;
  margin: 5px;
}

.object button {
  background: none;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.object button:hover {
  color: red;
  scale: 1.3;
}
/**/

.enregistrer,
.annulerBP {
  position: relative;
  width: 20%;
  padding: 6px 0px 6px 0;
  border-radius: 100px;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: 200;
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: 10vh;
}

.enregistrer {
  background: #1f6900;
  top: 35px;
}

.enregistrer:hover {
  background: #4cb221;
  box-shadow: 0 0px 20px #1f6900;
}

.aannulerBP {
  position: relative;
  left: 60%;
  top: 35px;
}

.annulerBP {
  background: #9b0000;
}

.annulerBP:hover {
  background: #dc0000;
  box-shadow: 0 0px 20px #9b0000;
}
