body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}

#filtre {
  color: white;
  background: grey;
  border: solid 1px black;
  border-radius: 555px;
  padding: 5px 10px;
  margin: 1px;
  height: 4vh;
  width: 5vw;
}

#filtre img {
  width: 20px;
  margin-bottom: -5px;
}

.top {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: black solid 2px;
  margin-bottom: 5vh;
  height: 8vh;
  width: 80vw;
  margin-left: 10vw;
}

.top h1 {
  margin: 0;
  font-size: 170%;
  font-weight: normal;
}

input[type="date"],
select[name="user"],
select[name="action"] {
  color: white;
  background: grey;
  border: solid 1px black;
  border-radius: 555px;
  padding: 5px 10px;
  margin: 1px;
  height: 4vh;
}

input[type="date"] {
  height: 2.7vh;
}

.content {
  margin-left: 10vw;
  height: 60vh;
  width: 80vw;
  overflow-y: scroll;
}
.content::-webkit-scrollbar {
  width: 10px;
}

.content::-webkit-scrollbar-track {
  background: rgb(192 192 192);
  border-radius: 10px;
}

.content::-webkit-scrollbar-thumb {
  background-color: rgb(106 106 106);
  border: 2px solid rgb(192 192 192);
  border-radius: 20px;
}

.content-table {
  border-collapse: collapse;
  font-size: 0.9em;
  text-align: left;
  width: 100%;
}

.content-table thead tr {
  background-color: #34a5d7;
  font-weight: bold;
  color: #ffffff;
}
.content-table th,
.content-table td {
  padding: 12px 15px;
}
.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}
.content-table tbody tr:nth-last-child(even) {
  background-color: #f3f3f3;
}
.content-table tbody tr:last-child {
  border-bottom: 2px solid #34a5d7;
}

.bottom {
  margin: 0 10vw;
  width: 80vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1vh;
}

.bottom .nav {
  width: 22vw;
}

.nav-btn {
  padding: 1%;
  border: solid 2px grey;
  border-radius: 5px;
  background: darkgrey;
  text-decoration: none;
  color: white;
  display: inline-block;
  width: 10vw;
  text-align: center;
  height: 100%;
}

.inactive {
  border-color: rgb(201, 201, 201);
  background: lightgrey;
}

#suivant {
  float: right;
}

#precedent {
  float: left;
}
