/*accueil*/

body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}

.top {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: black solid 2px;
  margin-bottom: 4vh;
  height: 8vh;
  width: 80vw;
  margin-left: 10vw;
}

.top h1 {
  margin: 0;
  font-weight: normal;
  font-size: 170%;
}

.btns {
  margin-bottom: 5px;
  text-align: end;
  display: flex;
}

.btns button {
  border-radius: 100px;
  border: none;
  background-color: #9fccff;
  color: #003e74;
  width: 12vw;
  height: 4vh;
  margin-left: 5px;
  padding: 3px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
}

.btns button:hover {
  background-color: #c2deff;
  color: #00182e;
  border: 0.5px solid #00182e;
}

.btns img {
  height: 2vh;
  margin-top: 4px;
}

.default_value {
  background-color: #d1d1d1;
}

.scroll {
  margin-left: 10vw;
  width: calc(80vw + 20px);
  height: 60vh;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.scroll::-webkit-scrollbar {
  width: 10px;
}

.scroll::-webkit-scrollbar-track {
  background: rgb(192 192 192);
  border-radius: 10px;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: rgb(106 106 106);
  border: 2px solid rgb(192 192 192);
  border-radius: 20px;
}

.bp {
  background-color: grey;
  border-radius: 8px;
  width: calc(80vw - 20px);
  transition: 0.3s;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7vh;
}
.bp h2 {
  font-weight: normal;
}

.bp input[type="checkbox"] {
  height: 3vh;
  width: 3vh;
}

.corbeille {
  height: 3vh;
  cursor: pointer;
  transition: 0.3s;
}

.corbeille:hover {
  transform: scale(1.2);
}

.fond_delConfirm {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0);
  z-index: 2;
  display: none;
}

.delConfirm {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  height: 30vh;
  background-color: white;
  border-radius: 15px;
  z-index: 3;
  text-align: center;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0px 17px 2px;
  font-family: "Roboto";
  font-size: 120%;
}

.delConfirm button[type="submit"],
.delConfirm button[type="button"] {
  position: absolute;
  bottom: 15%;
  width: 15%;
  padding: 6px 0px 6px 0;
  border-radius: 100px;
  border: none;
  color: white;
  font-size: 13px;
  cursor: pointer;
  transition: 0.3s;
}

.delConfirm button[type="button"] {
  right: 25%;
  background: #9b0000;
}

.delConfirm button[type="submit"] {
  left: 25%;
  background: #1f6900;
}

.delConfirm button[type="submit"]:hover {
  background: #4cb221;
  box-shadow: 0 0px 20px #1f6900;
}

.delConfirm button[type="button"]:hover {
  background: #dc0000;
  box-shadow: 0 0px 20px #9b0000;
}

.switch-case {
  height: 0;
  width: 0;
  visibility: hidden;
  position: fixed;
}

.switch {
  cursor: default;
  text-indent: -9999px;
  width: 6vw;
  height: 3vw;
  background: rgb(81, 81, 81);
  display: block;
  border-radius: 100px;
  position: relative;
}

.switch:after {
  cursor: pointer;
  content: "";
  position: absolute;
  top: 0.2vw;
  left: 0.2vw;
  width: 2.6vw;
  height: 2.6vw;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + .switch {
  background: #529a22;
}

input:checked + .switch:after {
  left: calc(100% - 0.2vw);
  transform: translateX(-100%);
}

.switch:active:after {
  width: 4vw;
}

.pdf_btn,
.csv_btn {
  float: right;
  margin-top: 5vh;
  width: 20vw;
  height: 4vh;
  border: 2px solid;
  border-radius: 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.pdf_btn:hover {
  background-color: #a13a3a;
  color: white;
}

.csv_btn:hover {
  background-color: #258525;
  color: white;
}

.pdf_btn:active {
  background-color: #640000;
}

.csv_btn:active {
  background-color: #003c00;
}

.pdf_btn img,
.csv_btn img {
  height: 2.5vh;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

.pdf_btn {
  margin-right: calc(10vw - 20px);
  background-color: #eca0a0;
  border-color: #640000;
}

.csv_btn {
  margin-right: 20px;
  background-color: #b3dab3;
  border-color: #003c00;
}

.select-popup {
  position: absolute;
  top: 12.5vh;
  left: 12.5vw;
  width: 75vw;
  height: 75vh;
  background-color: white;
  border-radius: 7vh;
  z-index: 3;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.select-fond_popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 3;
  display: none;
}

.active-fond {
  display: block;
}

.active-popup {
  display: flex;
}

.divProg,
.divPhase,
.divMotClef {
  height: calc(13vh + 30px);
  width: calc(60vw + 20px);
  background-color: grey;
  border-radius: 15px;
  margin: 10px 0 10px 0;
}

.select-popup h2 {
  margin: 0;
  font-family: "Roboto";
  color: white;
  font-size: 150%;
  height: 3vh;
  width: fit-content;
  padding: 5px;
  margin-left: 10px;
}

select {
  float: right;
  border-radius: 100px;
  border: none;
  background-color: #9fccff;
  color: #003e74;
  width: 10vw;
  height: 3vh;
  padding: 5px;
  margin: 5px 5px 5px 0;
}

select:hover {
  cursor: pointer;
}

.selected-itemsDiv {
  background-color: #a2a2a2;
  width: 60vw;
  height: 10vh;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-start;
  align-items: center;
  justify-content: center;
  overflow-y: overlay;
}

.object {
  width: fit-content;
  background-color: #9fccff;
  border-radius: 50px;
  border: 0.5px solid;
  padding: 5px;
  color: #003e74;
  font-family: sans-serif;
  cursor: default;
  margin: 5px;
}

.object button {
  background: none;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.object button:hover {
  color: red;
  scale: 1.3;
}

#hiddenForm {
  display: none;
}

.divBtn {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 4vh;
}

#rmFiltreBtn,
#validBtn,
#cancelBtn {
  width: 20%;
  padding: 6px 0px 6px 0px;
  background: #000000;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 18px;
  font-weight: 200;
  cursor: pointer;
  transition: 0.3s;
}

#rmFiltreBtn {
  margin-bottom: 2vh;
}

#rmFiltreBtn:hover {
  box-shadow: 0 0 20px 4px #2f2f2f;
}

#validBtn:hover {
  box-shadow: 0 0 20px 4px #006900;
}

#cancelBtn:hover {
  box-shadow: 0 0 20px 4px #690000;
}

/*---accueil---*/
