body {
  margin: 0;
  width: 100%;
  height: 100%;
}

.validation {
  width: 100%;
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.validation p {
  font-family: monospace;
  color: green;
  font-size: xx-large;
}

.liokbtn {
  width: 12%;
}

.validation button {
  width: 100%;
  padding: 6px 0px 6px 0px;
  background: #000000;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 18px;
  font-weight: 200;
  cursor: pointer;
  transition: 0.3s;
}

.okbtn:hover {
  box-shadow: 0 0 20px 4px #006900;
}

.errbtn:hover {
  box-shadow: 0 0 20px 4px #690000;
}
